@charset "utf-8";




/* *Extra small devices** */
@media (min-width: 200px) and (max-width: 767px) {
  :root {
    --tsfs-scale: 0.33;
    --tsfs-scaleSm: 0.54;
    
    --tslh-scale: 0.55;
    --tslogo-scaleH: 0.15;
    --tslogo-scaleH2: 0.45;
    --tslogo-scaleF: 0.55;
    --qbn_icn_width:0.55;
    --tsfs-15: calc(30px * var(--tsfs-scaleSm));   
    --tsfs-13: calc(20px * var(--tsfs-scaleSm));   
  }
 
  body {  
   
    font-size: var(--tsfs-18) !important;
   
  }
 .tsc-sec-tsnewqbns .owl-stage , .tsc-sec-tsrelqbns .owl-stage 
 {
  padding-right: 0 !important;
 }

 
 footer .text1
 {
   font-size: 12px !important;
 }
 footer .mnu_link
 {
   font-size: 14px !important;
 }
 footer .fa-arrow-left
{
  font-size: 19px !important;
}
.qbn_type_icn
{
  width: calc(22px * var(--qbn_icn_width)) !important;
}
.tsc-sec-tsblogslider .owl-stage , .tsc-sec-tsrelpsts .owl-stage
{
  margin-right: -58px !important;
}
.tsc-sec-tsnewoffers .owl-stage
{
  margin-right: -25px !important;
}
header #topMenu .tsfs-18
{
  font-size: 18px !important;
}
header #topMenu .mnu_link
{
  font-size: 14px !important;
}
header #topMenu .fa-2x
{
  font-size: 30px !important;
}
footer .fab
{
  font-size: 30px !important;
}
.qobon-searchIcon
{
  width: calc(45px * var(--qbn_icn_width));
  height: calc(45px * var(--qbn_icn_width));
}

#topMenu .lang_btns .tsfs-18
{
 font-size: 11px !important;
}
 .pagination .pg_num , .pagination .nxt_pgsNms 
{
    width: 2.8em !important;
    height: 2.8em !important; 
}
.tsltr .accordion-item , .tsrtl .accordion-item {
  border-radius: 25px !important;

}
.tsltr .accordion-button , .tsrtl .accordion-button {
  border-radius: 45px !important;
}
 .tsrtl .accordion-button::after {
  background-size: 15px !important;
  padding: 20px !important;
  left: 1px;
  top: 1px;
}
 .tsltr .accordion-button::after {
  background-size: 15px !important;
  padding: 20px !important;
  right: 1px !important;
  top: 1px;
}

.tsstoredtls .tsfs-16
{
  font-size: 10px !important;
  
}
.tsstoredtls .tsfs-14
{
  font-size: 8.57px !important;
  
}
.tsstoredtls .tsfs-21
{
  font-size: 14px !important;

}
.tsaboutus .tsc-sec-tscmncus {
  border-top-left-radius: 33px !important;
  border-top-right-radius: 33px !important;
}
.tsaboutus .tsc-sec-tsstts {
  border-bottom-left-radius: 33px !important;
  border-bottom-right-radius: 33px !important;
}
.tsaboutus .tsc-sec-tsstts .tsfs-36{
  font-size: 15px !important;
}
.tsaboutus .tsc-sec-tsstts .tsfs-60{
  font-size: 25px !important;
}
.tsaboutus .tsc-sec-tswhy {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.tsstoredtls .tsfs-18
{
  font-size: 12.35px !important;

}
footer .tscl-ftr-plc-hdr
{
    font-size: 12px !important;
   
}
footer .tscl-ftr-plc-hdr::placeholder
{
    font-size: 12px !important;
   
}
header input::placeholder , #tsqbnsbycats input
{

    font-size: 11px !important;  
}
.modal-dialog {
  margin: 0rem 0.75rem !important;
}
.modal-body .tsfs-15 {
  font-size: 8px !important;
}
.offcanvas-bottom .tsfs-18
{
  font-size: 18px !important;
}
.tsblog .tsc-sec-tspstslist .p4
{
  font-size: 10px !important;
}
.tsblog .tsc-sec-tspstslist .col .tsfs-18 
{
  font-size: 14px !important;
}
.tsblog .tsc-sec-tspstslist .tsfs-22
{
 font-size: 15px !important;
}
.tsc-sec-tstopbnr .p1
{
  font-size: 8px !important;
}
.tsc-sec-tsstoreslist .tsfs-22{
  font-size: 22px !important;
}
.tsc-sec-tsstoreslist .tsfs-16{
  font-size: 12px !important;
}
.tsblog .tsc-sec-tspstslist h4
{
 font-size: 14px !important;
}
.tsblog .tsc-sec-tspstslist .tsfs-16
{
 font-size: 12px !important;
}
.bordr31 {
  border-radius: 19px !important;
}
.hdr_flag
{
  width: calc(30px * var(--qbn_icn_width)) !important;
  height: calc(30px * var(--qbn_icn_width)) !important;
  box-sizing: border-box;

}

.hdr_arrow_down
{
  width: calc(20px * var(--qbn_icn_width)) !important;
  height: calc(11px * var(--qbn_icn_width)) !important;
}
}

@media (min-width: 950px) {
  .modal-body .tsfs-50 {
    font-size: 50px !important;
  }

  .modal-body .tsfs-21 {
    font-size: 21px !important;
  }

  .modal-body .tsfs-34 {
    font-size: 34px !important;
  }

  .modal-body .tsfs-15 {
    font-size: 15px !important;
  }

  .modal-body .tsfs-20 {
    font-size: 20px !important;
  }
}


@media (max-width: 991px) {
   
 .tsc-sec-tsnewqbns .owl-stage
 {
  padding-right: 0 !important;
 }

}


/*  ***small devices****** */
@media (min-width: 768px) and (max-width: 992px) {
  :root {
    --tsfs-scale: 0.50;
    --tsfs-scaleSm: 0.45;
    --tslh-scale: 0.68;
    --tslogo-scaleH: 0.40;
    --tslogo-scaleF: 0.5;
    --qbn_icn_width:1;
  }


}




/* ***** medium  devices** */
@media (min-width: 992px) {
  :root {
    --tsfs-scale: 0.61;
    --tsfs-scaleSm: 0.60;
    --tslh-scale: 0.78;
    --tslogo-scaleH: 0.40;
    --tslogo-scaleF: 0.51;
    --qbn_icn_width:1;
  }


}




/* ***** large  devices** */
@media (min-width: 1200px) {
  :root {
    --tsfs-scale: 0.75;
    --tsfs-scaleSm: 0.80;
    --tslh-scale: 0.88;
    --qbn_icn_width:1;
    --tslogo-scaleH: 0.50;
    --tslogo-scaleF: 0.60;
  }
  .modal-body .tsfs-50{
     font-size: 50px !important;
  }
  .modal-body .tsfs-21{
    font-size: 21px !important;
 }
  .modal-body .tsfs-34{
    font-size: 34px !important;
 }
  .modal-body .tsfs-15{
    font-size: 15px !important;
 }
}




/* ***** extra large  devices** */
@media (min-width: 1400px) {


}
