@charset "utf-8";
@import url(./tscss1.css);

/* ****Global***** */
.bordr60 {
  border-radius: 60px;
}
.bordr90 {
  border-radius: 90px;
}
.bordr31 {
  border-radius: 31px;
}
.bordr16 {
  border-radius: 16px;
}
.bordr30 {
  border-radius: 30px;
}
.bordrRds50 {
  border-radius: 50%;
}
.bordrRds22 {
 border-radius: 15px;
}
.offcanvas-bottom
{
  height: 100vh !important;
  background-color: var(  --tscl-bg2) ;
}
.bg-container{
  height: 100vh;
  background-color: var(--tscl-F) !important;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.qbn_type_icn
{
  width: calc(15px * var(--qbn_icn_width)) !important;
}
.home__top_slider_arrow
{
  width: calc(20px * var(--qbn_icn_width));
  height: calc(20px * var(--qbn_icn_width));
}
.hdr_arrow_down
{
  width: calc(11px * var(--qbn_icn_width));
  height: calc(6px * var(--qbn_icn_width));
}
.hdr_flag
{
  width: calc(16px * var(--qbn_icn_width));
  height: calc(16px * var(--qbn_icn_width));
  box-sizing: border-box;

}
.qobon-searchIcon
{
  width: calc(32px * var(--qbn_icn_width));
  height: calc(32px * var(--qbn_icn_width));
}
.newqbns-arrows
{
  width: calc(14px * var(--qbn_icn_width));
  height: calc(14px * var(--qbn_icn_width));
}
.tsc-sec-tsbststores .newqbns-arrows
{
  width: calc(18px * var(--qbn_icn_width));
  height: calc(18px * var(--qbn_icn_width));
}

.tsbgprobsetter {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  max-height: 224.33px;
  aspect-ratio: 491.69/224.33;
}

footer .tscl-ftr-plc-hdr::placeholder {
  color: var(--tscl-ftr-plc-hdr);
  font-family: TSFntLight;
  font-size: var(--tsfs-12);
}
footer .tscl-ftr-plc-hdr {
  border: 1px solid var(--tscl-text4);
  outline: none !important;
}
footer .mail-btn {
  transform: translateY(-50%) !important;
}
.search_btn {
  transform: translateY(-50%) !important;
}
.accordion-button {
  background-color: var(--tscl-card-bg) !important;
  border-radius: 45px !important;
}
.accordion-item {
  border-radius: 45px !important;
  background-color: var(--tscl-card-bg) !important;
  border: 0 !important;
}
.accordion-button:focus {
  z-index: 3 !important;
  border-color: none !important;
  outline: 0 !important;
  box-shadow: none !important ;
}
.tsrtl .accordion-button:not(.collapsed) , .tsltr .accordion-button:not(.collapsed){
  color: var(--tscl-0) !important;

  box-shadow: none !important;
}
 
.tsrtl .accordion-button:not(.collapsed)::after , .tsltr .accordion-button:not(.collapsed)::after {
  background-image: url("../../tsimg/qobon-faqs-arrowdown.svg") !important;
  background-color: var(--tscl-main) !important;
}
.tsrtl .accordion-button::after {
  content: "";
  color: var(--tscl-main);
  background-image: url("../../tsimg/qobon-faqs -arrowup.svg") !important;
  background-repeat: no-repeat;
  background-size: 2rem;
  transition: transform .2s ease-in-out;
  background-color: #000;
  border-radius: 50%;
  padding: 33px !important;
  position: absolute !important;
  left: 1px;
  top: 1px;
  background-position: center !important;
  border: 1px solid var(--tscl-main);
}
.tsltr .accordion-button::after {
  content: "";
  color: var(--tscl-main);
  background-image: url("../../tsimg/qobon-faqs -arrowup.svg") !important;
  background-repeat: no-repeat;
  background-size: 2rem;
  transition: transform .2s ease-in-out;
  background-color: #000;
  border-radius: 50%;
  padding: 33px !important;
  position: absolute !important;
  right: 1px;
  top: 1px;
  background-position: center !important;
  border: 1px solid var(--tscl-main);
}
.tsc-sec-tstopslider .CarouselNav_btn {
  background-color: var(--tscl-F);
}
.apply-del-btn {
  width: 100% !important;
  max-width: 400px; /*this is the actual width of canvas in bootstrap*/
}
img,
i {
  cursor: pointer;
}
.owl-carousel.SliderX {
  z-index: 2;
  position: relative;
}

.nav.position-absolute {
  z-index: 0;
  pointer-events: none;
}

.nav .CarouselNav_btn {
  pointer-events: auto;
  position: relative;
  z-index: 3;
}
.Catselected
{
  background-color: var(--tscl-0);
}
.Catselected span
{
  background-color :var(--tscl-0);
}
.bgWight{
  background-color: var(--tscl-F);
}
.category-item:hover , .tsc-sec-tsstoreslist .catBtn:hover
{
  background-color: var(--tscl-0);
  color: white !important;
}


/* **Header** */

.tsNav_cntnr_css{
  border-radius: 40px;
}
.tsnav_cntr_opened
{
  border-radius: 40px;
  height: 100vh;
}
.tsTopMenu-css
{
  height: 100vh;
}
.temoCard .fa-chevron-left:hover{
  right: 5px;
}
.TSWView header .active {
  border-top: 4px solid var(--tscl-0) !important;
}
.TSMView .active {
  border-top: none !important;
}
.togglerMnuIcn {
  width: 2rem !important ;
  height: 2rem !important;
}
#topMenu {
  transition: 0.9s ease-in-out;
}
.TSMView #topMenu {
  position: absolute;
  top: 0;
}
.active a {
  font-family: TSFntBold;
}
header input,
#tssection-tsqbnsbycats input {
  border: 0;
  outline: none;
  border-radius: 60px;
  background-color: var(--tscl-card-bg);
  padding-right: 23px;
}
header button img {
  width: 17px;
  height: 17px;
}
header .hdr_search {
  max-height: 45px !important;
}
header .navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
header input::placeholder,
#tssection-tsqbnsbycats input::placeholder {
  color: var(--tscl-hdr-plc-hdr);
  font-family: TSFntRegular;
  font-size: var(--tsfs-16);
}

header .hdr_btn1 {
  border-radius: 60px;
}
.TSMView header .hdr_btn1 {
  border-radius: 50% !important;
}
.TSMView #topMenu .hdr_btn1 {
  border-radius: 60px !important;
}

.dropdown .dropdown-toggle {
  border-radius: 60px;
  background-color: var(--tscl-main);
  color: var(--tscl-0);
  border-color: transparent !important;
  outline: none !important;
}
.dropdown-toggle::after {
    display: none !important;
}
.TSWView header .topMenu {
  border-top: 1px solid var(--tscl-bordr-hdr) !important;
  border-bottom: 1px solid var(--tscl-bordr-hdr) !important;
}
.dropdown .dropdown-toggle span {
  color: var(--tscl-0);
}
.dropdown-toggle::after {
  display: inline-block;
  margin-right: 0em !important;
  vertical-align: 0em !important;
  content: "";
  border: none !important;
}
/* ******************** TS-Home **************************/

.modal-footer {
  border: none !important;
}

.modal-header {
  border: none !important;
}

.modal-dialog {
  max-width: 995.71px !important;
}

.modal-body .discnt_sec {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.modal-content {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-position: center;
  border: 0px !important;
}

/* categories */
.CarouselNav_btn {
  border-radius: 50%;
  width: fit-content !important;
  height: fit-content !important;
 
}
/* best stores */
/********************** TS-Stores **************/
.stors_srch_inpt {
  border: 0;
  outline: none;
  border-radius: 60px;
  background-color: var(--tscl-card-bg);
  padding-right: 23px;
}
.stors_srch_inpt::placeholder {
  font-family: TSFntRegular;
  font-size: var(--tsfs-14);
  color: var(--tscl-bdy-plc-hdr);
}
.catBtn,
.temoCard .fa-chevron-left {
  right: 0;
  transition: 0.6s ease-in-out !important;
}

.pagination .pg_num,
.pagination .nxt_pgsNms {
  width: 2.5em;
  height: 2.5em;
  transition: 0.4s ease-in-out;
}
.pagination .pg_num:hover
{  background-color: black;
  color: white;
}
.pagination .bordrRds50 {
  border-color: var(--tscl-0) !important;
}
.active_bg_black {
  background-color: black;
  color: white;

}


/* ******************TS-about-us *************************** */

/* tsstts */
.tsaboutus .tsc-sec-tsstts {
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
}
/* tswhy */
.tsaboutus .tsc-sec-tswhy {
  border-top-left-radius: 85px;
  border-top-right-radius: 85px;
}
/* ts-parteners */

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-gradient-overlay-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 5;
  pointer-events: none;
}
.carousel-gradient-overlay-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 5;
  pointer-events: none;
}

/* contact-us */
.tsaboutus .tsc-sec-tscmncus {
  border-top-left-radius: 85px;
  border-top-right-radius: 85px;
}
/* **********************TS-blogs *************************** */
/* Blog lists */
.tsc-sec-tspstslist .nav-item {
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  white-space: nowrap;
  background-color: var(--tscl-card-bg);
}
.tsc-sec-tspstslist .nav-item:hover
{
  color: var(--tscl-main);
  background: var(--tscl-0);
}
.tsc-sec-tspstslist .nav-item.active {
  color: var(--tscl-main);
  background: var(--tscl-0);
}

.tsblog .tsc-sec-tspstslist .owl-item {
width: fit-content !important;
}
.tsblog .tsc-sec-tspstslist .owl-stage
{
  display: flex !important;
}
.tsblog .tsc-sec-tspstslist .carousel-gradient-overlay {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}
